#:schema node_modules/wrangler/config-schema.json
name = "remix-workers"
compatibility_date = "2024-09-25"
main = "./build/worker/index.js"
assets = { directory = "./build/client" }

# Workers Logs
# Docs: https://developers.cloudflare.com/workers/observability/logs/workers-logs/
# Configuration: https://developers.cloudflare.com/workers/observability/logs/workers-logs/#enable-workers-logs
[observability]
enabled = true

[[d1_databases]]
binding = "DB" # D1 数据库的绑定名称
database_name = "subtitle"
database_id = "35f30017-65e5-4f13-be69-adc9d25ce3f8"

[site]
bucket = "./public"
entry-point = "functions/[[path]].ts"

[build]
command = "npm run build"
watch_dir = "app"

# Workers Logs
# Docs: https://developers.cloudflare.com/workers/observability/logs/workers-logs/
# Configuration: https://developers.cloudflare.com/workers/observability/logs/workers-logs/#enable-workers-logs
[observability]
enabled = true

[[d1_databases]]
binding = "DB" # D1 数据库的绑定名称
database_name = "subtitle"
database_id = "35f30017-65e5-4f13-be69-adc9d25ce3f8"

routes = [
  { pattern = "remix.bbc.us.kg", custom_domain = true }
]
